.pokemon-card{
    display: blocks;
    flex-basis: 20%;
    padding: 1rem;
    border: 1px solid #fff;
    margin: 1em;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
}

.pokemon-img{
    margin: 0 auto;
    margin-left: 30%;
}

.pokemon-name{
  display: block;
  text-align: center;
}

.pokemon-types{
  display: block;
  text-align: center;
}

.pokemon-info{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.pokemon-weight, .pokemon-height, .pokemon-ability{
  border: 1px solid #fff;
  padding: 10px;
}